<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MaConnexion"
             providerName="MySql.Data.MySqlClient"
             connectionString="Server=ih1o2.myd.infomaniak.com;
								Port=3306;
								Database=ih1o2_pi02db3;
								Uid=ih1o2_pi02db3;
								Pwd=P_XUhBsKxM0;
								ConvertZeroDateTime=True;" />
	</connectionStrings>
</configuration>